MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_HTTP_RELATIVE_PATH=

WELLDEV.KEYCLOAK.ISSUER-URI=
WELLDEV.KEYCLOAK.REALM=

WELLDEV.KEYCLOAK.CLIENT-ID=
WELLDEV.KEYCLOAK.CLIENT-SECRET=
WELLDEV.AES.SECRET.KEY=

WELLDEV.RESOURCESERVER.JWT.SET.URI=
WELLDEV.RESOURCESERVER.JWT.ISSUER.URI=

WELLDEV.KEYCLOAK.SERVER.URL=

WELLDEV_USERNAME=
WELLDEV_PASSWORD=
WELLDEV_URL=